:root {
  --star-size: 0px;
}

.active {
  color: #1bdb2b;
  transition: 0.16s;
}
.active:hover {
  transition: 0.16s;
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgb(0, 255, 13));
}
.inactive {
  transition: 0.16s;
  color: #222;
}
.icon {
  padding: 5px;
}
