.product-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #222;
  width: 100%;
  color: white;
}

.products-cards {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.product-card {
  border-radius: 20px;
  border-style: groove;
  transition: 1s;
}

.product-card img:hover {
  transition: 0.16s;
  transform: scale(1.2);
}
